
#eventlobbymain{
    background-color: #4b623bff;
    display: flex;
}

body{
  display:grid;
  grid-template-areas: 'h h' 'nav m';
  grid-template-rows: 15vh auto;
  grid-template-columns: 36vh auto;
}
header{
  grid-area: h;
}
nav{
grid-area: nav;

background-color:#827725;
}
main{
  grid-area: m;
  height: 83.7vh;
}
.lobbyGroup{
    
    min-height: 40%;
    width:36vh;
    margin-right:1%;
    margin-left:1%;
    
}

#eventlobbymain{
  background-color:#827725;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#group_choice{
    display: none;
    position: relative ;
    background-color: #f9f9f9;
    top: 0vh;  /* ajustar pra baixo*/
    right: 40vh; /* ajustar pra esquerda*/
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* por pela frente*/
    max-width: 500px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {left:-300px; opacity:0} 
    to {left:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
  }

  #choiceHeader{
    display: flex;
    text-align: center;
  }

  .close {
    color: #62523b;
    float: right;
    font-size: 10vh;
    font-weight: bold;
    padding-left: 10%;
  }

  #choiceTitle{
    padding-left: 20%;
  }

  #buttonContainer{
    display:flex;
  }

  .accept {
    color: #FFF;
    background: #44CC44;
    padding: auto;
    margin-left:38%;
    margin-right:38%;
    border-radius: 50%;
  }

  .form-container{
    text-align: center;
    
  }
  
  #choiceFooter{
    width: 100%;
    height:10vh;
  }

  .titles{
    margin-left: 0;
    font-weight: normal;
  }
  .table{
    margin-left: 0;
    width:20%;
  }

  .table th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    font-size:3.5vh;
    background-color: #827725;
    text-align:center;
    color: white;
    font-weight: normal;
    padding-left:2vh;
    padding-right: 2vh;
}

.table tr {
    
    font-size: 2.5vh;
    text-align: center;
    padding:2vh;
    cursor: pointer;
}

table >tbody>tr>td{
  min-width: 12vh;
  max-width:12vh;
  
}

#navTitle{
  display:flex;
}

.allPlayerSpecificInfo{
  display:flex;
  justify-content: center;
  margin-top:1vh;
  margin-bottom: 1vh;

}

.invite{
  cursor:pointer;
  background-color: green;
  color:black;
  margin-left: 2vh;
  
}
