
body{
  display:grid;
  grid-template-areas: 'h' 'nm';
  grid-template-rows: 15vh auto;
  
  background-color: #827725;
}
header{
  grid-area: h;
}

#navmain{
  grid-area: nm;
  display:flex;
  
}

#groupDiv{
  display:flex;
  min-width: 140vh;
  justify-content: center;

}

nav{
background-color:#827725;
position:fixed;
z-index: 30;
}


main{
  height: 100%;
  margin-left:40vh;
  
}



.lobbyGroup{
    position:relative;
   
    min-height: 40%;
    width:36vh;
    margin-right:1%;
    margin-left:1%;
    
}

table > tbody{
  display:block;
  overflow:auto;
  overflow-x:hidden;
  height:35vh;
  
  
}

#eventlobbymain{
  background-color:#827725;
    display: flex;
    
    
    
    
    min-height: 100%;
   max-width: 100%;
    overflow: auto;
}

#group_choice{
    display: none;
    position: relative ;
    background-color: #f9f9f9;
    top: 0vh;  /* ajustar pra baixo*/
    right: 40vh; /* ajustar pra esquerda*/
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* por pela frente*/
    max-width: 500px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {left:-300px; opacity:0} 
    to {left:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
  }

  #choiceHeader{
    display: flex;
    text-align: center;
  }

  .close {
    color: #62523b;
    float: right;
    font-size: 10vh;
    font-weight: bold;
    padding-left: 10%;
  }

  #choiceTitle{
    padding-left: 20%;
  }

  #buttonContainer{
    display:flex;
  }


  .form-container{
    text-align: center;
    
  }
  .form-content{
    background-color: #827725;
  }
  
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  #choiceFooter{
    width: 100%;
    height:10vh;
  }

  .titles{
    margin-left: 0;
    font-weight: normal;
  }
  .table{
    margin-left: 0;
    width:20%;
  }

  .table th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    font-size:3.5vh;
    background-color: #827725;
    text-align:center;
    color: white;
    font-weight: normal;
    padding-left:2vh;
    padding-right: 2vh;
}

.table tr {
    
    font-size: 2.5vh;
    text-align: center;
    padding:2vh;
    cursor: pointer;
}

table >tbody>tr>td{
  min-width: 12vh;
  max-width:12vh;
  
}

#navTitle{
  display:flex;
  padding-left: 4vh;
}

.allPlayerSpecificInfo{
  display:flex;
  justify-content: center;
  margin-top:1vh;
  margin-bottom: 1vh;

}

.invite{
  cursor:pointer;
  background-color: green;
  color:black;
  margin-left: 2vh;
  
}

#mapIcon{
 height:10vh;
 z-index:10;
 position:absolute;
 right:5vh;
 bottom:5vh;
 cursor: pointer;
 display:block;
 position:fixed;
}

#edit{
  height:10vh;
  z-index:10;
 position:absolute;
 right:5vh;
 bottom:15vh;
 cursor: pointer;
 position:fixed;
}

.centerTable{
  align-items: center;
  width: 100%;
}

.plusimage{
  cursor: pointer;
}