

#plus{
    position: absolute;
    width: 22vh;
    left:80vh;
    top:60.6vh;
    cursor: pointer;
    
}

#pluscontainer{
    display:flex;
    
}

#plusText{
    font-family: 'prestige';
    position:fixed;
    top:85.5vh;
    left:98vh;
    
    color:white;
}


.close{
    position:relative;
    top: -12vh;
}

.aceptBox{
    cursor:pointer;
    max-width: 12%;
    margin-left:45%;
    text-align: center;
    margin-bottom: 2vh;
}

#choiceTitle{
    text-align: center;
}