body{
    display: grid;
    height:100%;    
    grid-template-columns: 10% auto;
    grid-template-rows:15% auto 5%;
    grid-template-areas: 'h h h' 'm m m' 'f f f';
    border: solid thick;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}
#teamDivItems{
    background-color:white;
    height:100%;
    display: grid;
    grid-template-areas: 'me bo ma';
    grid-template-columns: 25% auto 25%;
}

#teamMembers {
    background-color: #48623b;
    grid-area: me;
    margin: 10px 5px 10px 10px;
}
#actionTeamBox{
    background-color:  #48623b;
    grid-area: bo;
    margin: 10px 5px 10px 5px;

}
#teamMaps{
    background-color:  #48623b;
    grid-area: ma;
    margin: 10px 10px 10px 5px;
}

.table{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.table tr{background-color: #f2f2f2;}

#titles{
    text-align: center;
}
#teamDivItems{
    background-color: black;
}
#playerBox{
    display:grid;
    width: 100%; 
    grid-template-columns: 65% auto 10%;
    grid-template-areas: 'I P DS' 'D D DS';
    
}
#playerInfo{
    grid-area: I;
    margin-left: 20px;
}


#allPlayerInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#allPlayerSpecificInfo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}

#allPlayerInfo a{
    min-height:5px;

}
#allPlayerInfo div{
    margin-left: 5px;
    margin-right: 30px;
    
    color: white;
    background-color: #44CC44;
    text-align: center;
    min-width: 20px;
    max-width: 40px;

    color: #FFF;
    background: #44CC44;

    
}
#playerPhoto{
    grid-area: P;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#playerDesc{
    display: flex;
    margin-left: 20px;
}

#removeOrGiveLeaderFlex{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height:50px;
    width: 100%;    
    
}
.promote {
    color: #FFF;
    background: #FF8C00;
    padding: 15px 20px;
    text-align: center;


}
.promote:hover {
    background: #ffb84d;
}
.removeTeammate {
    color: #FFF;
    background: tomato;
    padding: 15px 20px;
    margin-left: 5px;
    text-align: center;

}
.removeTeammate:hover {
    background: rgb(255, 147, 128);
}
