#myTeams{
    background-color: #62523b;
    min-height: 40%;
    width:20%;
    margin-right:10%;
}

#allTeams{
    background-color: #62523b;
    width:20%;
    height: 300%;
    margin-left:10%;
}

#teamDivItems{
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%

}



