
  #plus{
    position: absolute;
    width: 22vh;
    left:80vh;
    top:60.6vh;
    cursor: pointer;
    
}

#pluscontainer{
    display:flex;
    
}

#plusText{
    font-family: 'prestige';
    position:fixed;
    top:85.5vh;
    left:98vh;
    
    color:white;
}


#myTeams{
    position: absolute;
    margin-top: 2vh;
    width:100%;
}

.tablediv{
    position: relative;
    top:0vh;
  }